python-dotenv==1.0.0

streamlit==1.28.0
streamlit-option-menu==0.3.6
streamlit-antd-components==0.2.3
streamlit-chatbox==1.1.10
streamlit-aggrid==0.3.4.post3
streamlit_chat==0.1.1
streamlit_modal==0.1.0
streamlit-tree-select==0.0.5

tabulate==0.9.0

httpx==0.25.0

pydantic==2.4.2
pydantic_core==2.10.1


peewee==3.17.0
streamlit_authenticator==0.1.5
