python-dotenv

streamlit>=1.26.0
streamlit-option-menu>=0.3.6
streamlit-antd-components>=0.1.11
streamlit-chatbox==1.1.10
streamlit-aggrid>=0.3.4.post3
streamlit_chat
streamlit_modal

gradio

langchain>=0.0.319
openai
tiktoken
faiss-cpu
huggingface_hub
sentence-transformers


youtube_transcript_api
llama_index
html2image

tabulate
